@model CakeDessertShop.Models.CityViewModel

<div class="form-group">
    <h7>Ciudad</h7>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>