@model CakeDessertShop.Models.NeighborhoodViewModel

<div class="form-group">
    <h7>Barrio</h7>
    <span class="required">*</span>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>