@model CakeDessertShop.Models.NeighborhoodViewModel

@{
    ViewData["Title"] = "Crear barrio";
}

<h1>Crear</h1>

<h4>Barrio</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddNeighborhood">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CityId"/>
            <partial name="_Neighborhood"/>
            <div class="form-group mt-2">
                <input type="submit" value="Crear" class="buttonmiddle" />
                <a asp-action="DetailsCity" asp-route-id="@Model.CityId" class="buttonlight">Regresar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
