@model CakeDessertShop.Data.Entities.State

@{
    ViewData["Title"] = "Eliminar departamento";
}

<h1>Eliminar</h1>

<h3>¿Estas seguro que quieres eliminar?</h3>
<div>
    <partial name="_StateDetails"/>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="button" /> 
        <a asp-action="Index" class="buttonlight">Regresar</a>
    </form>
</div>
